.escondido {
    display: none;
}

li {
    display: flex;
    align-items: center; 
    gap: 20px;          
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;    
}


.contato-acoes {
    display: flex;
    gap: 5px;
}